.contacto .container .h1Contacto, .descargas .mainDescargas .h1Descargas, .registrate .mainRegistrate .h1Registrate, .registrate .secRegistrate .h2Registrate, .informacion .mainInformacion .h1Informacion {
  margin: 1rem;
  padding: 10px;
  border: 1px solid black; }

.informacion .mainInformacion .divUno .ulInformacion, .informacion .mainInformacion .divDos .ulInformacion2, .informacion .mainInformacion .divTres .ulInformacion3, .informacion .mainInformacion .divCuatro .ulInformacion4 {
  color: #D4ECDD;
  list-style-type: none;
  text-align: center;
  background-color: #152D35;
  filter: alpha(opacity=80);
  opacity: 0.8;
  font-size: 25px;
  font-weight: 100;
  border: 1px solid black;
  margin: 5px;
  padding: 5px; }

.index {
  background-image: url(../img/fondohome.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }
  .index .headerHome {
    height: 65vh; }
    .index .headerHome nav .navbar .container-fluid {
      background-color: #345B63;
      filter: alpha(opacity=80);
      opacity: 0.8; }
      .index .headerHome nav .navbar .container-fluid .navbar-brand {
        color: #D4ECDD; }
      .index .headerHome nav .navbar .container-fluid .collapse .navbar-nav {
        font-size: 1.3rem;
        list-style-type: none;
        padding: 0.3rem;
        margin: 0.5rem;
        font-weight: 300;
        text-decoration: none;
        width: 100%;
        background-color: #345B63;
        filter: alpha(opacity=80);
        opacity: 0.8;
        justify-content: center;
        gap: 1rem; }
        .index .headerHome nav .navbar .container-fluid .collapse .navbar-nav .nav-item :hover {
          background-color: #152D35; }
        .index .headerHome nav .navbar .container-fluid .collapse .navbar-nav .nav-item a {
          color: #D4ECDD;
          font-weight: 600; }
  .index .mainHome {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-areas: "h1Home h1Home" "sectionHome sectionHome" "h2Home2 h2Home2" "imagen1 imagen1" "imagen2 imagen2" "imagen3 imagen3" "imagen4 imagen4"; }
    .index .mainHome .h1Home {
      grid-area: h1Home;
      padding: 0.5rem;
      margin: 0.5rem;
      border: 1px solid black;
      text-align: center;
      display: inline-block;
      color: #D4ECDD;
      background-color: #152D35;
      filter: alpha(opacity=80);
      opacity: 0.8; }
    .index .mainHome .sectionHome {
      height: 120vh;
      grid-area: sectionHome;
      text-align: center;
      background-color: #152D35;
      margin: 0.3rem;
      overflow: auto; }
      .index .mainHome .sectionHome .h2Home {
        padding: 0.5rem;
        grid-area: h2Home;
        margin: 1rem;
        color: #D4ECDD; }
      .index .mainHome .sectionHome .pHome {
        grid-area: pHome;
        padding: 0.3rem;
        margin: 0.5rem;
        color: black;
        text-align: center;
        color: #D4ECDD; }
    .index .mainHome .h2Home2 {
      background-image: linear-gradient(#152D35, #13a54b);
      padding: 0.5rem;
      display: inline;
      grid-area: h2Home2;
      color: #D4ECDD;
      border: solid 1px black;
      margin: 0.3rem;
      text-align: center; }
      .index .mainHome .h2Home2 .animate__animate.animate__heartBeat {
        animation-duration: 2s; }
    .index .mainHome .h2Home2:hover {
      transform: scale(1.05); }
    .index .mainHome .imagen1 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      grid-area: imagen1; }
    .index .mainHome .imagen2 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      grid-area: imagen2; }
    .index .mainHome .imagen3 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      grid-area: imagen3; }
    .index .mainHome .imagen4 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      grid-area: imagen4; }
  .index footer {
    filter: alpha(opacity=80);
    opacity: 0.8;
    background-color: #112031;
    border: 1px solid black;
    text-align: center; }
    .index footer h4 {
      color: #D4ECDD; }
  @media screen and (min-width: 600px) {
    .index .mainHome {
      gap: 0.3rem;
      grid-template-areas: "h1Home h1Home" "sectionHome sectionHome" "h2Home2 h2Home2" "imagen1 imagen2" "imagen3 imagen4"; } }
  @media screen and (min-width: 1200px) {
    .index .mainHome {
      gap: 0.3rem;
      grid-template-areas: "h1Home h1Home h1Home h1Home" "sectionHome sectionHome sectionHome h2Home2" "sectionHome sectionHome sectionHome imagen1" "sectionHome sectionHome sectionHome imagen2" "sectionHome sectionHome sectionHome imagen3" "sectionHome sectionHome sectionHome imagen4"; } }

.contacto {
  background-image: url(../img/fondocont.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }
  .contacto header nav .navbar .container-fluid {
    background-color: #345B63;
    filter: alpha(opacity=80);
    opacity: 0.8; }
    .contacto header nav .navbar .container-fluid .navbar-brand {
      color: #D4ECDD; }
    .contacto header nav .navbar .container-fluid .collapse .navbar-nav {
      font-size: 1.3rem;
      list-style-type: none;
      padding: 0.3rem;
      margin: 0.5rem;
      font-weight: 300;
      text-decoration: none;
      width: 100%;
      background-color: #345B63;
      filter: alpha(opacity=80);
      opacity: 0.8;
      justify-content: center;
      gap: 1rem; }
      .contacto header nav .navbar .container-fluid .collapse .navbar-nav .nav-item :hover {
        background-color: #152D35; }
      .contacto header nav .navbar .container-fluid .collapse .navbar-nav .nav-item a {
        color: #D4ECDD;
        font-weight: 600; }
  .contacto .container .h1Contacto {
    background-color: #152D35;
    filter: alpha(opacity=80);
    opacity: 0.8;
    color: #D4ECDD; }
  .contacto .container .formContacto {
    color: #D4ECDD;
    background-color: #152D35;
    filter: alpha(opacity=80);
    opacity: 0.8;
    padding: 1rem;
    text-align: center;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .contacto .container .formContacto .form div input {
      margin-top: 0.5rem;
      border: 1px solid black;
      color: black;
      padding: 0.2rem; }
  .contacto .container div .pContacto {
    color: #D4ECDD;
    text-align: center;
    font-weight: 300;
    font-size: 1rem; }
    .contacto .container div .pContacto span {
      color: blue;
      font-size: 1.5rem; }
  .contacto .container div .imgContacto {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 0.3rem;
    padding: 0.5rem; }
  .contacto footer {
    filter: alpha(opacity=80);
    opacity: 0.8;
    background-color: #112031;
    border: 1px solid black;
    text-align: center; }
    .contacto footer h4 {
      color: #D4ECDD; }

.descargas {
  background-image: url(../img/410357.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }
  .descargas header nav .navbar .container-fluid {
    background-color: #345B63;
    filter: alpha(opacity=80);
    opacity: 0.8; }
    .descargas header nav .navbar .container-fluid .navbar-brand {
      color: #D4ECDD; }
    .descargas header nav .navbar .container-fluid .collapse .navbar-nav {
      font-size: 1.3rem;
      list-style-type: none;
      padding: 0.3rem;
      margin: 0.5rem;
      font-weight: 300;
      text-decoration: none;
      width: 100%;
      background-color: #345B63;
      filter: alpha(opacity=80);
      opacity: 0.8;
      justify-content: center;
      gap: 1rem; }
      .descargas header nav .navbar .container-fluid .collapse .navbar-nav .nav-item :hover {
        background-color: #152D35; }
      .descargas header nav .navbar .container-fluid .collapse .navbar-nav .nav-item a {
        color: #D4ECDD;
        font-weight: 600; }
  .descargas .mainDescargas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 1rem; }
    .descargas .mainDescargas .h1Descargas {
      width: 70%;
      grid-area: h1;
      background-color: #152D35;
      filter: alpha(opacity=80);
      opacity: 0.8;
      text-align: center;
      color: #D4ECDD; }
    .descargas .mainDescargas .divDesc {
      padding: 1rem;
      width: 70%;
      background-color: #152D35;
      filter: alpha(opacity=80);
      opacity: 0.8; }
      .descargas .mainDescargas .divDesc .pDescargas {
        margin: 1rem;
        padding: 1rem;
        text-align: center;
        font-size: 1.3rem;
        color: #D4ECDD; }
      .descargas .mainDescargas .divDesc h2 {
        color: #D4ECDD; }
    .descargas .mainDescargas .divDesc2 {
      padding: 1rem;
      background-color: #152D35;
      filter: alpha(opacity=80);
      opacity: 0.8;
      width: 70%; }
      .descargas .mainDescargas .divDesc2 h2 {
        text-align: center;
        color: #D4ECDD; }
      .descargas .mainDescargas .divDesc2 p {
        color: #D4ECDD; }
  .descargas footer {
    filter: alpha(opacity=80);
    opacity: 0.8;
    background-color: #112031;
    border: 1px solid black;
    text-align: center; }
    .descargas footer h4 {
      color: #D4ECDD; }

.registrate {
  background-image: url(../img/fondoreg.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }
  .registrate header nav .navbar .container-fluid {
    background-color: #345B63;
    filter: alpha(opacity=80);
    opacity: 0.8; }
    .registrate header nav .navbar .container-fluid .navbar-brand {
      color: #D4ECDD; }
    .registrate header nav .navbar .container-fluid .collapse .navbar-nav {
      font-size: 1.3rem;
      list-style-type: none;
      padding: 0.3rem;
      margin: 0.5rem;
      font-weight: 300;
      text-decoration: none;
      width: 100%;
      background-color: #345B63;
      filter: alpha(opacity=80);
      opacity: 0.8;
      justify-content: center;
      gap: 1rem; }
      .registrate header nav .navbar .container-fluid .collapse .navbar-nav .nav-item :hover {
        background-color: #152D35; }
      .registrate header nav .navbar .container-fluid .collapse .navbar-nav .nav-item a {
        color: #D4ECDD;
        font-weight: 600; }
  .registrate .mainRegistrate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .registrate .mainRegistrate .h1Registrate {
      width: 60%;
      background-color: #152D35;
      filter: alpha(opacity=80);
      opacity: 0.8;
      text-align: center;
      color: #D4ECDD; }
    .registrate .mainRegistrate .formRegistrate {
      width: 60%;
      color: #D4ECDD;
      background-color: #152D35;
      filter: alpha(opacity=80);
      opacity: 0.8;
      margin: 1rem;
      text-align: center;
      font-size: 20px;
      font-weight: 200;
      padding: 1rem; }
  .registrate .secRegistrate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .registrate .secRegistrate .h2Registrate {
      width: 60%;
      background-color: #152D35;
      filter: alpha(opacity=80);
      opacity: 0.8;
      text-align: center;
      color: #D4ECDD; }
    .registrate .secRegistrate .form2Registrate {
      width: 60%;
      color: #D4ECDD;
      background-color: #152D35;
      filter: alpha(opacity=80);
      opacity: 0.8;
      margin: 1rem;
      text-align: center;
      font-size: 20px;
      font-weight: 200;
      padding: 1rem; }
  .registrate footer {
    filter: alpha(opacity=80);
    opacity: 0.8;
    background-color: #112031;
    border: 1px solid black;
    text-align: center; }
    .registrate footer h4 {
      color: #D4ECDD; }

.informacion {
  background-image: url(../img/fondoInf.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }
  .informacion header nav .navbar .container-fluid {
    background-color: #345B63;
    filter: alpha(opacity=80);
    opacity: 0.8; }
    .informacion header nav .navbar .container-fluid .navbar-brand {
      color: #D4ECDD; }
    .informacion header nav .navbar .container-fluid .collapse .navbar-nav {
      font-size: 1.3rem;
      list-style-type: none;
      padding: 0.3rem;
      margin: 0.5rem;
      font-weight: 300;
      text-decoration: none;
      width: 100%;
      background-color: #345B63;
      filter: alpha(opacity=80);
      opacity: 0.8;
      justify-content: center;
      gap: 1rem; }
      .informacion header nav .navbar .container-fluid .collapse .navbar-nav .nav-item :hover {
        background-color: #152D35; }
      .informacion header nav .navbar .container-fluid .collapse .navbar-nav .nav-item a {
        color: #D4ECDD;
        font-weight: 600; }
  .informacion .mainInformacion {
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    grid-template-areas: "h1 h1" "divUno divUno" "divDos divDos" "divTres divTres" "divCuatro divCuatro"; }
    .informacion .mainInformacion .h1Informacion {
      grid-area: h1;
      text-align: center;
      color: #D4ECDD;
      background-color: #152D35;
      filter: alpha(opacity=80);
      opacity: 0.8; }
    .informacion .mainInformacion .divUno {
      grid-area: divUno; }
    .informacion .mainInformacion .divDos {
      grid-area: divDos; }
    .informacion .mainInformacion .divTres {
      grid-area: divTres; }
    .informacion .mainInformacion .divCuatro {
      grid-area: divCuatro; }
  @media screen and (min-width: 600px) {
    .informacion .mainInformacion {
      display: grid;
      justify-content: center;
      align-items: center;
      grid-template-areas: "h1 h1" "divUno divDos" "divTres divCuatro"; } }
  @media screen and (min-width: 1200px) {
    .informacion .mainInformacion {
      display: grid;
      justify-content: center;
      align-items: center;
      grid-template-areas: "h1 h1 h1 h1" "divUno divUno divDos divDos" "divTres divTres divCuatro divCuatro"; } }
  .informacion footer {
    filter: alpha(opacity=80);
    opacity: 0.8;
    background-color: #112031;
    border: 1px solid black;
    text-align: center; }
    .informacion footer h4 {
      color: #D4ECDD; }
