@import "utilities/variables";
@import "base/mixins";
@import "base/extend";

.index {
    background-image: url(../img/fondohome.jpg);
    @include background;
    




    .headerHome {
        height: 65vh;


        nav {
            .navbar {
                .container-fluid {
                    background-color: $color-principal;
                    filter: alpha(opacity=80);
                    opacity: 0.8;

                    .navbar-brand {
                        color: $color-letras;
                    }

                    .collapse {
                        .navbar-nav {
                            font-size: 1.3rem;
                            list-style-type: none;
                            padding: 0.3rem;
                            margin: 0.5rem;
                            font-weight: 300;
                            text-decoration: none;
                            width: 100%;
                            background-color: $color-principal;
                            filter: alpha(opacity=80);
                            opacity: 0.8;
                            justify-content: center;
                            gap: 1rem;

                            .nav-item {
                                :hover {
                                    background-color: $color-secundario;
                                }

                                a {
                                    color: $color-letras;
                                    font-weight: 600;

                                }
                            }
                        }

                    }
                }
            }
        }

    }

    .mainHome {
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-areas: "h1Home h1Home"
            "sectionHome sectionHome"
            "h2Home2 h2Home2"
            "imagen1 imagen1"
            "imagen2 imagen2"
            "imagen3 imagen3"
            "imagen4 imagen4";

        .h1Home {
            grid-area: h1Home;
            padding: 0.5rem;
            margin: 0.5rem;
            border: 1px solid black;
            text-align: center;
            display: inline-block;
            color: $color-letras;
            @include colorbg;
        }

        .sectionHome {
            height: 120vh;
            grid-area: sectionHome;
            text-align: center;
            background-color: $color-secundario;
            margin: 0.3rem;
            overflow: auto;


            .h2Home {
                padding: 0.5rem;
                grid-area: h2Home;
                margin: 1rem;
                color: $color-letras;
            }

            .pHome {
                grid-area: pHome;
                padding: 0.3rem;
                margin: 0.5rem;
                color: black;
                text-align: center;
                color: $color-letras;
            }

        }

        .h2Home2 {
            background-image: linear-gradient(#152D35, #13a54b);
            padding: 0.5rem;
            display: inline;
            grid-area: h2Home2;
            color: $color-letras;
            border: solid 1px black;
            margin: 0.3rem;
            text-align: center;

            .animate__animate.animate__heartBeat {
                animation-duration: 2s;
            }

        }

        .h2Home2:hover {
            transform: scale(1.05);
        }

        .imagen1 {
            @include flex;
            grid-area: imagen1;
        }

        .imagen2 {
            @include flex;
            grid-area: imagen2;

        }

        .imagen3 {
            @include flex;
            grid-area: imagen3;

        }

        .imagen4 {
            @include flex;
            grid-area: imagen4;
        }
    }

    footer {
        filter: alpha(opacity=80);
        opacity: 0.8;
        background-color: $color-footer;
        border: 1px solid black;
        text-align: center;

        h4 {
            color: $color-letras;
        }
    }


    @media screen and (min-width:600px) {

        .mainHome {
            gap: 0.3rem;
            grid-template-areas: "h1Home h1Home"
                "sectionHome sectionHome"
                "h2Home2 h2Home2"
                "imagen1 imagen2"
                "imagen3 imagen4";
        }
    }

    @media screen and (min-width:1200px) {
        .mainHome {
            gap: 0.3rem;
            grid-template-areas: "h1Home h1Home h1Home h1Home"
                "sectionHome sectionHome sectionHome h2Home2"
                "sectionHome sectionHome sectionHome imagen1"
                "sectionHome sectionHome sectionHome imagen2"
                "sectionHome sectionHome sectionHome imagen3"
                "sectionHome sectionHome sectionHome imagen4";
        }
    }
}



// Seccion contacto
.contacto {
    background-image: url(../img/fondocont.jpg);
    @include background;

    header {
        nav {
            .navbar {
                .container-fluid {
                    background-color: $color-principal;
                    filter: alpha(opacity=80);
                    opacity: 0.8;

                    .navbar-brand {
                        color: $color-letras;
                    }

                    .collapse {
                        .navbar-nav {
                            font-size: 1.3rem;
                            list-style-type: none;
                            padding: 0.3rem;
                            margin: 0.5rem;
                            font-weight: 300;
                            text-decoration: none;
                            width: 100%;
                            background-color: $color-principal;
                            filter: alpha(opacity=80);
                            opacity: 0.8;
                            justify-content: center;
                            gap: 1rem;

                            .nav-item {
                                :hover {
                                    background-color: $color-secundario;
                                }

                                a {
                                    color: $color-letras;
                                    font-weight: 600;

                                }
                            }
                        }

                    }
                }
            }
        }
    }

    .container {
        .h1Contacto {
            @include colorbg;
            color: $color-letras;
            @extend %h1;
        }

        .formContacto {
            color: $color-letras;
            @include colorbg;
            padding: 1rem;
            text-align: center;
            font-size: 1.5rem;
            @include flex;

            .form {
                div {
                    input {
                        margin-top: 0.5rem;
                        border: 1px solid black;
                        color: black;
                        padding: 0.2rem;
                    }

                }
            }




        }

        div {
            .pContacto {
                color: $color-letras;
                text-align: center;
                font-weight: 300;
                font-size: 1rem;

                span {
                    color: blue;
                    font-size: 1.5rem;
                }
            }

            .imgContacto {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-end;
                gap: 0.3rem;
                padding: 0.5rem;
            }

        }
    }

    footer {
        filter: alpha(opacity=80);
        opacity: 0.8;
        background-color: $color-footer;
        border: 1px solid black;
        text-align: center;

        h4 {
            color: $color-letras;
        }
    }
}


// Seccion descargas
.descargas {
    background-image: url(../img/410357.jpg);
    @include background;

    header {
        nav {
            .navbar {
                .container-fluid {
                    background-color: $color-principal;
                    filter: alpha(opacity=80);
                    opacity: 0.8;

                    .navbar-brand {
                        color: $color-letras;
                    }

                    .collapse {
                        .navbar-nav {
                            font-size: 1.3rem;
                            list-style-type: none;
                            padding: 0.3rem;
                            margin: 0.5rem;
                            font-weight: 300;
                            text-decoration: none;
                            width: 100%;
                            background-color: $color-principal;
                            filter: alpha(opacity=80);
                            opacity: 0.8;
                            justify-content: center;
                            gap: 1rem;

                            .nav-item {
                                :hover {
                                    background-color: $color-secundario;
                                }

                                a {
                                    color: $color-letras;
                                    font-weight: 600;

                                }
                            }
                        }

                    }
                }
            }
        }
    }


    .mainDescargas {
        @include flex;
        text-align: center;
        margin: 1rem;

        .h1Descargas {
            width: 70%;
            grid-area: h1;
            @include colorbg;
            text-align: center;
            color: #D4ECDD;
            @extend %h1;
        }

        .divDesc {
            padding: 1rem;
            width: 70%;
            @include colorbg;

            .pDescargas {
                margin: 1rem;
                padding: 1rem;
                text-align: center;
                font-size: 1.3rem;
                color: $color-letras;
            }

            h2 {
                color: $color-letras;
            }
        }

        .divDesc2 {
            padding: 1rem;
            @include colorbg;
            width: 70%;

            h2 {
                text-align: center;
                color: $color-letras;
            }
            p{
                color: $color-letras;
            }
        }

    }

    footer {
        filter: alpha(opacity=80);
        opacity: 0.8;
        background-color: $color-footer;
        border: 1px solid black;
        text-align: center;

        h4 {
            color: $color-letras;
        }
    }
}

// Seccion registrate
.registrate {
    background-image: url(../img/fondoreg.jpg);
    @include background;

    header {
        nav {
            .navbar {
                .container-fluid {
                    background-color: $color-principal;
                    filter: alpha(opacity=80);
                    opacity: 0.8;

                    .navbar-brand {
                        color: $color-letras;
                    }

                    .collapse {
                        .navbar-nav {
                            font-size: 1.3rem;
                            list-style-type: none;
                            padding: 0.3rem;
                            margin: 0.5rem;
                            font-weight: 300;
                            text-decoration: none;
                            width: 100%;
                            background-color: $color-principal;
                            filter: alpha(opacity=80);
                            opacity: 0.8;
                            justify-content: center;
                            gap: 1rem;

                            .nav-item {
                                :hover {
                                    background-color: $color-secundario;
                                }

                                a {
                                    color: $color-letras;
                                    font-weight: 600;

                                }
                            }
                        }

                    }
                }
            }
        }
    }


    .mainRegistrate {
        @include flex;

        .h1Registrate {
            width: 60%;
            @include colorbg;
            text-align: center;
            color: $color-letras;
            @extend %h1;
        }

        .formRegistrate {
            width: 60%;
            color: $color-letras;
            @include colorbg;
            margin: 1rem;
            text-align: center;
            font-size: 20px;
            font-weight: 200;
            padding: 1rem;
        }

    }

    .secRegistrate {
        @include flex;

        .h2Registrate {
            width: 60%;
            @include colorbg;
            text-align: center;
            color: $color-letras;
            @extend %h1;
        }

        .form2Registrate {
            width: 60%;
            color: $color-letras;
            @include colorbg;
            margin: 1rem;
            text-align: center;
            font-size: 20px;
            font-weight: 200;
            padding: 1rem;
        }
    }

    footer {
        filter: alpha(opacity=80);
        opacity: 0.8;
        background-color: $color-footer;
        border: 1px solid black;
        text-align: center;

        h4 {
            color: $color-letras;
        }
    }
}

// Seccion informacion

.informacion {
    background-image: url(../img/fondoInf.jpg);
    @include background;

    header {
        nav {
            .navbar {
                .container-fluid {
                    background-color: $color-principal;
                    filter: alpha(opacity=80);
                    opacity: 0.8;

                    .navbar-brand {
                        color: $color-letras;
                    }

                    .collapse {
                        .navbar-nav {
                            font-size: 1.3rem;
                            list-style-type: none;
                            padding: 0.3rem;
                            margin: 0.5rem;
                            font-weight: 300;
                            text-decoration: none;
                            width: 100%;
                            background-color: $color-principal;
                            filter: alpha(opacity=80);
                            opacity: 0.8;
                            justify-content: center;
                            gap: 1rem;

                            .nav-item {
                                :hover {
                                    background-color: $color-secundario;
                                }

                                a {
                                    color: $color-letras;
                                    font-weight: 600;

                                }
                            }
                        }

                    }
                }
            }
        }
    }



    .mainInformacion {
        display: grid;
        justify-content: center;
        align-items: center;
        margin: 1rem;
        grid-template-areas: "h1 h1"
            "divUno divUno"
            "divDos divDos"
            "divTres divTres"
            "divCuatro divCuatro";

        .h1Informacion {
            grid-area: h1;
            text-align: center;
            color: $color-letras;
            @extend %h1;
            @include colorbg;

        }

        .divUno {
            grid-area: divUno;

            .ulInformacion {
                @extend %ul;
            }

        }

        .divDos {
            grid-area: divDos;

            .ulInformacion2 {
                @extend %ul;
            }

        }

        .divTres {
            grid-area: divTres;

            .ulInformacion3 {
                @extend %ul;
            }
        }

        .divCuatro {
            grid-area: divCuatro;

            .ulInformacion4 {
                @extend %ul;
            }

        }
    }



    @media screen and (min-width: 600px) {
        .mainInformacion {
            display: grid;
            justify-content: center;
            align-items: center;
            grid-template-areas: "h1 h1"
                "divUno divDos"
                "divTres divCuatro";
        }

    }

    @media screen and (min-width: 1200px) {
        .mainInformacion {
            display: grid;
            justify-content: center;
            align-items: center;
            grid-template-areas: "h1 h1 h1 h1"
                "divUno divUno divDos divDos"
                "divTres divTres divCuatro divCuatro";
        }

    }

    footer {
        filter: alpha(opacity=80);
        opacity: 0.8;
        background-color: $color-footer;
        border: 1px solid black;
        text-align: center;
       

        h4 {
           
            color: $color-letras;
        }
    }
}