@import "utilities/variables";

.bodyHome {
    background-image: url(../img/fondohome.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.headerHome {
    height: 75vh;

    nav {
        .navbar {
            .container-fluid {
                background-color: $color-principal;
                filter: alpha(opacity=80);
                opacity: 0.8;

                .navbar-brand {
                    color: $color-letras;
                }

                .collapse {
                    .navbar-nav {
                        font-size: 1.3rem;
                        list-style-type: none;
                        padding: 0.3rem;
                        margin: 0.5rem;
                        font-weight: 300;
                        text-decoration: none;
                        width: 100%;
                        background-color: $color-principal;
                        filter: alpha(opacity=80);
                        opacity: 0.8;
                        justify-content: center;
                        gap: 1rem;

                        .nav-item {
                            :hover {
                                background-color: $color-secundario;
                            }

                            a {
                                color: $color-letras;
                                font-weight: 600;

                            }
                        }
                    }

                }
            }
        }
    }

}

.mainHome {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-areas: "h1Home h1Home"
        "sectionHome sectionHome"
        "h2Home2 h2Home2"
        "imagen1 imagen1"
        "imagen2 imagen2"
        "imagen3 imagen3"
        "imagen4 imagen4";

    .h1Home {
        grid-area: h1Home;
        padding: 0.5rem;
        margin: 0.5rem;
        background-color: $color-secundario;
        filter: alpha(opacity=80);
        opacity: 0.8;
        border: 1px solid black;
        text-align: center;
        display: inline-block;
        color: $color-letras;
    }

    .sectionHome {
        height: 120vh;
        grid-area: sectionHome;
        text-align: center;
        background-color: $color-secundario;
        filter: alpha(opacity=80);
        opacity: 0.8;
        margin: 0.3rem;
        scroll-behavior: auto;

        .h2Home {
            padding: 0.5rem;
            grid-area: h2Home;
            margin: 1rem;
            color: $color-letras;
        }

        .pHome {
            grid-area: pHome;
            padding: 0.3rem;
            margin: 0.5rem;
            color: black;
            text-align: center;
            color: $color-letras;
        }
    }

    .h2Home2 {
        background-image: linear-gradient(#152D35, #13a54b);
        padding: 0.5rem;
        display: inline;
        grid-area: h2Home2;
        color: $color-letras;
        border: solid 1px black;
        margin: 0.3rem;
        text-align: center;

        .animate__animate.animate__heartBeat {
            animation-duration: 2s;
        }

    }

    .h2Home2:hover {
        transform: scale(1.05);
    }

    .imagen1 {
        display: flex;
        justify-content: center;
        grid-area: imagen1;
    }

    .imagen2 {
        display: flex;
        justify-content: center;
        grid-area: imagen2;

    }

    .imagen3 {
        display: flex;
        justify-content: center;
        grid-area: imagen3;

    }

    .imagen4 {
        display: flex;
        justify-content: center;
        grid-area: imagen4;
    }




}

@media screen and (min-width:600px) {

    .mainHome {
        gap: 0.3rem;
        grid-template-areas: "h1Home h1Home"
            "sectionHome sectionHome"
            "h2Home2 h2Home2"
            "imagen1 imagen2"
            "imagen3 imagen4";
    }
}

@media screen and (min-width:1200px) {
    .mainHome {
        gap: 0.3rem;
        grid-template-areas: "h1Home h1Home h1Home h1Home"
            "sectionHome sectionHome sectionHome h2Home2"
            "sectionHome sectionHome sectionHome imagen1"
            "sectionHome sectionHome sectionHome imagen2"
            "sectionHome sectionHome sectionHome imagen3"
            "sectionHome sectionHome sectionHome imagen4";
    }
}


footer {
    filter: alpha(opacity=80);
    opacity: 0.8;
    margin: 5px;
    background-color: $color-footer;

    h4 {
        text-align: center;
        border: 1px solid black;
        color: $color-letras;
        padding: 0.5rem;
    }
}