@import "extend";
@import "mixins";

.bodyDescargas {
    background-image: url(../img/410357.jpg);
    @include background;
}

.mainDescargas {
    @include flex;
    text-align: center;

    .h1Descargas {
        width: 70%;
        grid-area: h1;
        @include colorbg;
        text-align: center;
        color: #D4ECDD;
        @extend %h1;
    }





    .divDesc {
        padding: 1rem;
        width: 70%;
        @include colorbg;

        .pDescargas {
            margin: 1rem;
            padding: 1rem;
            text-align: center;
            font-size: 1.5rem;
            color: $color-letras;
        }

        h2 {
            color: $color-letras;
        }
    }

    .divDesc2 {
        padding: 1rem;
        @include colorbg;
        width: 70%;

        h2 {
            text-align: center;
            color: $color-letras;
        }
    }

}