%h1{
    margin: 1rem;
    padding: 10px;
    border: 1px solid black;
    border-radius: 1rem;
}
%ul{
    color: $color-letras;
    list-style-type: none;
    text-align: center;
    background-color: $color-secundario;
    filter: alpha(opacity=80);
    opacity: 0.8;
    font-size: 25px;
    font-weight: 100;
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
}



