%h1 {
    margin: 1rem;
    padding: 10px;
    border: 1px solid black;
}
%ul {
    
    margin: 1rem;
    padding: 1rem;
    font-size: 1.6rem;
    list-style-type: none;
    background-color: white;
    grid-area: listaUno;
    box-shadow: 5px 5px 10px;
}

%input {
    margin-top: 0.5rem;
    border: 1px solid black;
    color: black;
    padding: 0.2rem;
    background-color: white;
}