@import "extend";
@import "mixins";
.bodyInformacion {
    background-image: url(../img/fondoInf.jpg);
    @include background;
}

.mainInformacion {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-areas: "h1 h1"
            "divUno divUno"
            "divDos divDos"
            "divTres divTres"
            "divCuatro divCuatro";
    .h1Informacion {
        grid-area: h1;
        text-align: center;
        color: $color-letras;
        @extend %h1;
        @include colorbg;
    
    }
    .divUno{
        grid-area: divUno;
        .ulInformacion {
            @extend %ul;
        }
        
    }
    .divDos{
        grid-area: divDos;
        .ulInformacion2 {
            @extend %ul;
        }
        
    }
    .divTres{
        grid-area: divTres;
        .ulInformacion3 {
            @extend %ul;
        }
    }
    .divCuatro{
        grid-area: divCuatro;
        .ulInformacion4 {
            @extend %ul;
        }
        
    }
}
@media screen and (min-width: 600px) {
    .mainInformacion {
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-areas: "h1 h1"
            "divUno divDos"
            "divTres divCuatro";
    }

}

@media screen and (min-width: 1200px) {
    .mainInformacion {
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-areas: "h1 h1 h1 h1"
            "divUno divUno divDos divDos"
            "divTres divTres divCuatro divCuatro";
    }

}