.bodyRegistrate {
    background-image: url(../img/fondoreg.jpg);
    @include background;
}
.mainRegistrate {
    @include flex;
    .h1Registrate {
        width: 60%;
        @include colorbg;
        text-align: center;
        color: $color-letras;
        @extend %h1;
    }
    .formRegistrate {
        width: 60%;
        color: $color-letras;
        @include colorbg;
        margin: 1rem;
        text-align: center;
        font-size: 20px;
        font-weight: 200;
        padding: 1rem;
    }
   
    }
    .secRegistrate {
        @include flex;
        .h2Registrate {
            width: 60%;
            @include colorbg;
            text-align: center;
            color: $color-letras;
            @extend %h1;
        }
        .form2Registrate {
            width: 60%;
            color: $color-letras;
            @include colorbg;
            margin: 1rem;
            text-align: center;
            font-size: 20px;
            font-weight: 200;
            padding: 1rem;
        }
    }